body {
    background-color: #555555;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.field {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rowContainer {
    position: relative;
    width: 480px;
    height: 40px;
}

.row {
    position: absolute;
    height: fit-content;
    width: fit-content;

}

.tile {
    float: left;
    margin: 5px;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    position: relative;
    background-color: grey;
    transition: all ease 0.05s;
}

.score {
    font-size: xx-large;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-weight: bolder;
}

.pause {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000aa;
    opacity: 0;
    transition: all ease 0.2s;
}

.pause_text_container {
    top: 50%;
    left: 50%;
    position: relative;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    transform: translate(-50%, -50%);
}