@font-face {
    font-family: 'Gardens CM';
    src: url('CM_GARDEN_R.eot');
    src: url('CM_GARDEN_R.eot?#iefix') format('embedded-opentype'),
        url('CM_GARDEN_R.woff2') format('woff2'),
        url('CM_GARDEN_R.woff') format('woff'),
        url('CM_GARDEN_R.svg#CM_GARDEN_R') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

